// assets/css/app.scss

// customize some Bootstrap variables
$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  color: $brand-primary;
  font-size: 20px;
}