{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user.username is defined %}
        <h1>Bienvenue {{ app.user.username }} !</h1>
        <a href="{{ path('security_logout') }}">Logout</a>
    {% else %}
        Bienvenue !
        <a href="{{ path('user_registration') }}">S'enregistrer</a>
        <a href="{{ path('security_login')}}"> Connexion</a>
    {% endif %}
{% endblock %}